<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Meetopia</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.hsbc.meetopia.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminPage</servlet-name>
		<servlet-class>com.hsbc.meetopia.servlet.AdminPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminPage</servlet-name>
		<url-pattern>/AdminPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ManagerPage</servlet-name>
		<servlet-class>com.hsbc.meetopia.servlet.ManagerPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerPage</servlet-name>
		<url-pattern>/ManagerPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemberPage</servlet-name>
		<servlet-class>com.hsbc.meetopia.servlet.MemberPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberPage</servlet-name>
		<url-pattern>/MemberPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateMeeting</servlet-name>
		<servlet-class>com.hsbc.meetopia.servlet.OrganiseMeetingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateMeeting</servlet-name>
		<url-pattern>/CreateMeeting</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ImportUsers</servlet-name>
		<servlet-class>com.hsbc.meetopia.servlet.ImportUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImportUsers</servlet-name>
		<url-pattern>/ImportUsers</url-pattern>
	</servlet-mapping>


</web-app>
