.container {
    margin-top: 2.5vw;
}

.container h3 {
    color: gray;
}

.jumbotron {
    height: 22vh;
}

.jumbotron .container {
    color: black;
}

li:hover {
    cursor: pointer;
}

#available-members .list li:hover {
    background-color: #c3e6cb !important;
    color: #6e5928 !important;
}

#selected-members .list li:hover {
    background-color: #f5c6cb !important;
    color: #731e56 !important;
}

/* SIDEBAR STYLES */

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
   /* background-color: rgba(180, 83, 83, 0.75);*/ /* See through red*/
    background-color: rgba(0, 0, 0);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f1faee;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 30px;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
   /* /* background-color: #111; */
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    /*background-color: rgba(180, 83, 83, 0.75);*/
    background-color: rgb(0, 0, 0);
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
